/*body {
    background-color: #ECDFCC;
}*/

.nav-background {
    background-color: #7FA1C3;
}

.goal-background {
    background-color: #F5EDED;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.noto-serif-info {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.montserrat-calendar {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.task-border {
    border-color: #7FA1C3 !important;
}

.custom-button {
    background-color: #102C57;
    color: #F5EDED;
    --bs-btn-hover-border-color: #102C57 !important;
}

.custom-button-width {
    width: 10em !important;
}

.custom-date {
    background-color: #6482AD;
    color: white;
    height: 80px;
    width: 80px;
}

.custom-date-goal {
    background-color: #E2DAD6;
    border-color: black !important;
    color: black;
    height: 80px;
    width: 80px;
}

.p-date {
    margin-top: 0;
    margin-bottom: 0 ;
}

.task-signifier {
    color: darkgrey;
}

.flash {
    color: red;
    font-weight: 500;
}