<!--{% for goal in goals %}-->
<!--<div class="p-2 my-4 mx-4 border border-2 rounded-2 task-border goal-background">-->
<!--    <div class="container-fluid py-2 noto-serif-font">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <h3 class="fw-bold">{{ goal.goal }}</h3>-->
<!--                <p class="col-md-8 fs-4">{{ goal.description }}</p>-->
<!--                <a href="{{ url_for('get_goal', goal_id=goal.id) }}" class="btn custom-button btn-sm rounded-2"-->
<!--                   role="button">Go To-->
<!--                    Goal</a>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <p class="col-md-8 fs-4 noto-serif-info">Deadline: {{ goal.date_completion }}</p>-->
<!--                <p class="col-md-8 fs-4 noto-serif-info">-->
<!--                    Status:-->
<!--                    <span>-->
<!--                        {% if goal.status == "Not Started" %}-->
<!--                        <button type="button" class="btn btn-secondary btn-sm px-4 gap-3 custom-button-width">{{ goal.status }}</button>-->
<!--                        {% elif goal.status == "In Progress" %}-->
<!--                        <button type="button" class="btn btn-primary btn-sm px-4 gap-3 custom-button-width">{{ goal.status }}</button>-->
<!--                        {% elif goal.status == "On Hold" %}-->
<!--                        <button type="button" class="btn btn-warning btn-sm px-4 gap-3 custom-button-width">{{ goal.status }}</button>-->
<!--                        {% elif goal.status == "Completed" %}-->
<!--                        <button type="button" class="btn btn-success btn-sm px-4 gap-3 custom-button-width">{{ goal.status }}</button>-->
<!--                        {% endif %}-->
<!--                    </span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <ul class="list-group">-->
<!--                    {% for task in goal.goal_tasks %}-->
<!--                    <li class="list-group-item">-->
<!--                        <input class="form-check-input me-1" type="checkbox" value="" id="{{ goal.id }}-{{ task.id }}">-->
<!--                        <label class="form-check-label" for="{{ goal.id }}-{{ task.id }}">{{ task.task }}</label>-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->